@model dota2chathub.Models.UserInfo
@{
    //List<tuvantuyensinhsv.v2.Models.BaiViet> baiviets = ViewBag.baiviets;
    //List<tuvantuyensinhsv.v2.Models.Question> questions = ViewBag.questions;
    List<SelectListItem> langs = new List<SelectListItem>();
    langs.Add(new SelectListItem
    {
        Text = "Tiếng việt",
        Value = "vi"
    });
    langs.Add(new SelectListItem
    {
        Text = "English",
        Value = "en"       
    });


    List<SelectListItem> locations = new List<SelectListItem>();
    locations.Add(new SelectListItem
    {
        Text = "Việt Nam",
        Value = "vn"
    });
    locations.Add(new SelectListItem
    {
        Text = "England",
        Value = "us"       
    });
}

<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">Profile</a></li>
        <li><a href="#game" data-toggle="tab">Game</a></li>
    </ul>
    <div class="tab-content">
        <!-- Font Awesome icons -->
        <div class="tab-pane active" id="profile">
            <div class="alert-danger">@ViewBag.StatusMessage</div>
            <div class="row">
                <div class="col-lg-12">

                    <div class="box-body">
                        
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-8">
                                    <div class="form-group">
                                        <label>Username</label>
                                        <input name="hoTen" value="@Model.username" type="text" class="form-control" disabled />
                                    </div>

                                    <div class="form-group">
                                        <label>Tên hiển thị</label>
                                        <input name="displayname" id="_displayname" value="@Model.displayname" type="text" class="form-control" />
                                    </div>

                                    <div class="form-group">
                                        <label>Sinh nhật</label>
                                        @Html.TextBox("displayname", Model.birthday.Value, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", @id = "_birthday" })
                                    </div>

                                    <div class="form-group">
                                        <label>link avatar</label>
                                        <input id="_txt_link_avatar" onblur="changePreviewAvatar()" name="profile_avatar_link" value="@Model.linkavatar" type="text" class="form-control" placeholder="Họ tên" />
                                    </div>

                                    <div class="form-group">
                                        <label>Quốc gia</label>
                                        @Html.DropDownListFor(m => m.location, locations, new { @class = "form-control", @id = "_lang" })                                      
                                    </div>

                                    <div class="form-group">
                                        <label>Ngôn ngữ</label>
                                        @Html.DropDownListFor(m => m.language, langs, new { @class = "form-control", @id = "_location" })
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <br />
                                    <label>Avatar preview</label>
                                    <br />
                                    <img style="width:150px; height:150px;" src="@Model.linkavatar" id="_manage_index_profile_preview" />
                                </div>
                            </div>
                        </div>

                        <div class="box-footer">
                            <input type="button" class="btn btn-success" value="Cập nhật" onclick="updateProfile('@Model.userid')" />
                            <button type="button" onclick="" class="btn btn-primary">Cập nhật từ Steam</button>
                        </div>
                    </div>

                </div>
            </div>

        </div><!-- /#fa-icons -->
        <!-- Bài viết-->
        <div class="tab-pane" id="game">
            <div class="box-body">
                <p>Điểm: @Model.Totalscore</p>
            </div><!-- /.box-body -->

        </div><!-- bài viết -->

    </div><!-- /.tab-content -->
</div>

<script>
    function updateProfile(userid) {
        var language = $("#_lang").val();
        var location = $("#_location").val();
        var linkavatar = $("#_txt_link_avatar").val();
        var displayname = $("#_displayname").val();
        var birthday = $("#_birthday").val();

        $.ajax({
            url: "../../manage/updateUserInfo",
            type: "POST",
            data: {
                userid: userid,
                language: language,
                location: location,
                linkavatar: linkavatar,
                displayname: displayname,
                birthday: birthday

            },
            success: function (data) {
                "Update ok";
            },
            error: function () {
                alert("Có lỗi upload dữ liệu");
            }
        });

        closeCustomModal();

    }

    function changePreviewAvatar() {
        $("#_manage_index_profile_preview").attr("src", $("#_txt_link_avatar").val());
    }

    function baivietredirect(id) {
        window.location.href = "/baiviets/details/" + id;
    }

    function questionsredirect(id) {
        window.location.href = "/questions/details/" + id;
    }

    function changepassword() {
        window.location.href = "/manage/changepassword";
    }

    function redirectaddquestion() {
        window.location.href = "/questions/create";
    }

    function redirectaddbaiviet() {
        window.location.href = "/baiviets/create";
    }

    function updateInforFromFacebook() {
        window.location.href = "/manage/GetFacebookUserInfor";
    }
</script>
